ChatterBot==0.4.10
Cheetah==2.4.4
Landscape-Client==14.12
PAM==0.4.2
Pillow==2.3.0
PyYAML==3.10
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
apt-xapian-index==0.45
argparse==1.2.1
certifi==2016.9.26
chardet==2.0.1
click==4.0
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
csv2es==1.0.1
decorator==3.4.0
elasticsearch==1.4.0
future==0.16.0
fuzzywuzzy==0.12.0
html5lib==0.999
joblib==0.8.4
jsondatabase==0.1.1
jsonpatch==1.3
jsonpointer==1.0
nltk==3.2.1
numpy==1.22.0
oauth==1.0.1
oauthlib==2.0.0
pandas==0.19.2
prettytable==0.7.2
pyOpenSSL==0.13
pycrypto==2.6.1
pycurl==7.19.3
pyelasticsearch==1.2.3
pymongo==3.3.0
pyserial==2.6
python-apt==0.9.3.5ubuntu2
python-dateutil==2.6.0
python-debian==0.1.21-nmu2ubuntu2
python-telegram-bot==5.3.0
python-twitter==3.1
pytz==2016.6.1
requests==2.2.1
requests-oauthlib==0.7.0
retrying==1.3.3
scikit-learn==0.18.1
scipy==0.13.3
simplejson==3.6.5
six==1.9.0
ssh-import-id==3.21
textblob==0.11.1
urllib3==1.19.1
wheel==0.24.0
wsgiref==0.1.2
yahoo-finance==1.2.1
zope.interface==4.0.5
